/* @override 
	http://limmud.hu.localhost:8082/sites/all/themes/limmud/styles/styles.css?losq8j
	http://limmud.hu.localhost:8082/sites/all/themes/limmud/styles/styles.css?lotspk
	http://limmud.hu.localhost:8082/sites/all/themes/limmud/styles/styles.css?loub82
	http://teszt.limmud.hu/sites/all/themes/limmud/styles/styles.css?lp15p6
	http://teszt.limmud.hu/sites/all/themes/limmud/styles/styles.css?lp3uxt
	http://teszt.limmud.hu/sites/all/themes/limmud/styles/styles.css?lp8j47
	http://teszt.limmud.hu/sites/all/themes/limmud/styles/styles.css?lp9hp8
	http://teszt.limmud.hu/sites/all/themes/limmud/styles/styles.css?lpd7oc
*/

@CHARSET "UTF-8";

body {
	color: #8a197d;
}


a {
	color: #55a51c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
#site-header {
	margin-bottom: 18px;
	height: 180px;
}

#header-region .block-locale {
	z-index: 1000;
	float: right;
	position: relative;
	top: -180px;
	/*
	background: #fff;
	opacity: 0.9;
	*/
	padding: 8px;
	height: 20px;
}

#header-region .block-locale ul {
	list-style: none;
}

#header-region .block-locale li {
	display: inline;
}

#header-region .block-locale li.active {
	display: none;
}

.top-navigation-region {
	margin-bottom: 30px;
}

.top-navigation-region ul.nice-menu a {
	color: #8a197d;
	font-weight: bold;
	text-decoration: none;
}

.top-navigation-region  ul.nice-menu a:hover {
	text-decoration: underline;
}

.top-navigation-region ul.nice-menu a.active,
.top-navigation-region ul.nice-menu li.active-trail >a {
	color: #55a51c;
}


.top-navigation-region ul.nice-menu-down li.menuparent {
	background: none;
}

.top-navigation-region ul.nice-menu,
.top-navigation-region ul.nice-menu ul,
.top-navigation-region ul.nice-menu li {
	border: 0;
    background: #fff;
}

.top-navigation-region #block-nice_menus-1 {
	position: absolute;
    top: 0;
    left: 0;
}


.region-sidebar-first h2 {
	font-size: 11pt;
	margin-top: 10px;
	margin-bottom: 0;
}

.region-sidebar-first label {
	font-weight: normal;
}

.region-sidebar-first .form-required {
	color:  #8a197d;
}

.region-sidebar-first input.form-text {
	border: none;
	background: #e0e0e0;
	width: 130px;
	padding: 5px;
	font-size: 12pt;
}

.region-sidebar-first .form-submit {
	border: none;
	background: transparent;
	font-weight: bold;
	color: #8a197d;
	text-align: left;
	font-size: 12px;
	padding: 0;
	cursor: pointer;
}

.region-sidebar-first .block-user .form-item {
	margin-top: 0;
}

#user-login-form .item-list ul {
	list-style: none;
}

#user-login-form .item-list li {
	margin: 0;
	padding: 0;
}

#user-login-form .item-list a {
	color: #8a197d;
	text-decoration: none;
}

#user-login-form .item-list a:hover {
	text-decoration: underline;
}


.region-content {
	margin-bottom: 30px;
}

.region-content-bottom {
	margin-bottom: 30px;
	overflow: hidden;
	vertical-align: bottom;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	margin-bottom: 0;
	color: #55a51c;
	font-weight: normal;
}

#main h2 a {
	color: #55a51c;
	text-decoration: none;
}

#main h3 {
	margin-top: 15px;
}

.region-footer {
	font-size: 9pt;
	color: #404040;
}

.region-footer a {
	color: #404040;
	text-decoration: none;
}

.region-footer a:hover {
	text-decoration: underline;
}

.front .pane-content p {
	margin-bottom: 5px;
}


.front .view-onkentes-veletlen-kepek table {
	margin-bottom: 0;
}

.front .pane-jquery-countdown-jquery-countdown {
margin-bottom: 15px;
}


.front .pane-jquery-countdown-jquery-countdown .hasCountdown {
	border: none;
	background: url(../images/counterbg.png) repeat-x;
	height: 21px;
}

.front .pane-jquery-countdown-jquery-countdown .countdown_amount {
	color: #d8e200;
	font-size: 10pt;
	font-weight: bold;
}

.front .pane-jquery-countdown-jquery-countdown .countdown_section {
	width: 46px;	
	height: 21px;
}

.front .pane-jquery-countdown-jquery-countdown  .countdown_descr {
	display: none;
}


.field-name-field-presentation-tags .field-items .field-item {
	float: left;
	margin-left: 5px;
}

.field-name-body {
	margin-top: 10px;
}

.view-eloadoeloadosai-v table {
	width: 100%;
}

.view-eloadoeloadosai-v table caption {
	text-align: left;
	font-weight: bold;
	font-size: 12pt;
}

.view-eloadoeloadosai-v .views-field-field-presentation-location,
.view-eloadoeloadosai-v .views-field-field-presentation-types,
.view-eloadoeloadosai-v .views-field-field-presentation-tags  {
	margin-left: 20px;
}

.view-eloadoeloadosai-v .views-label {
	display: inline;
	float: left;
	width: 9em;
}

.view-eloadoeloadosai-v .field-content {
	margin-bottom: 0 !important;
}

.view-eloadoeloadosai-v .views-row {
	margin-bottom: 15px;
}
.view-eloadok-listaja-v div.field-content {
	margin-bottom: 10px;
}

.view-eloadok-listaja-v .view-eloadoeloadosai-v {
	width: 50%;
	float: left;
}

.view-eloadok-listaja-v .field-name-body {
	padding-right: 10px;
	width: 45%;
	float: left;
}

#webform-component-jegyek--lamed--lamed-felnott,
#webform-component-jegyek--lamed--lamed-gyerek,
#webform-component-jegyek--mem--mem-felnott,
#webform-component-jegyek--mem--mem-gyerek,
#webform-component-jegyek--dalet--dalet-felnott,
#webform-component-jegyek--dalet--dalet-gyerek
 {
	float: left;
	margin-right: 100px;
}
