/* @override http://limmud.hu.localhost:8082/sites/all/themes/limmud/styles/styles.css?losq8j */@CHARSET "UTF-8";

body {
	color: #8a197d;
}

#site-header {
	margin-bottom: 18px;
}

.top-navigation-region {
	margin-bottom: 30px;
}

.top-navigation-region .block-menu ul {
	list-style: none;
}

.top-navigation-region a {
	color: #8a197d;
	font-weight: bold;
	text-decoration: none;
}

.top-navigation-region a:hover {
	text-decoration: underline;
}

.top-navigation-region a.active {
	color: #55a51c;
}

.region-sidebar-first h2 {
	font-size: 11pt;
	margin-top: 10px;
	margin-bottom: 0;
}

.region-sidebar-first label {
	font-weight: normal;
}

.region-sidebar-first .form-required {
	color:  #8a197d;
}

.region-sidebar-first input.form-text {
	border: none;
	background: #e0e0e0;
	width: 130px;
	padding: 5px;
	font-size: 12pt;
}

.region-sidebar-first .form-submit {
	border: none;
	background: transparent;
	font-weight: bold;
	color: #8a197d;
	text-align: left;
	font-size: 12px;
	padding: 0;
	cursor: pointer;
}

#user-login-form .item-list ul {
	list-style: none;
}

#user-login-form .item-list li {
	margin: 0;
	padding: 0;
}

#user-login-form .item-list a {
	color: #8a197d;
	text-decoration: none;
}

#user-login-form .item-list a:hover {
	text-decoration: underline;
}


.region-content {
	margin-bottom: 30px;
}

.region-content-bottom {
	margin-bottom: 30px;
	height: 45px;
	overflow: hidden;
	vertical-align: bottom;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
	margin-bottom: 0;
	color: #55a51c;
	font-weight: normal;
}

#main h3 {
	margin-top: 15px;
}

.region-footer {
	font-size: 9pt;
	color: #404040;
}

.region-footer a {
	color: #404040;
	text-decoration: none;
}

.region-footer a:hover {
	text-decoration: underline;
}